/* Utilizando fontes específicas */
@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

:root {
    --roxo-gamifica: #47208b;
    --laranja-gamifica: #f06638;
}

/* Reset de CSS - Limpa configurações padrão que atrapalham */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

html {
    scroll-behavior: smooth;
}

.container-grid {
    width: 80vw;
    max-width: 1400px;

    /* margin: 30px - Espaçamento de 30 px em torno do elemento*/
    /* margin: 0px 30px - Espaçamento 0px vertical e 30px horizontal*/
    /* margin: 0px 30px 10px - Espaçamento 0px para cima, 30px horizontal e 10 para baixo*/
    
    /* margin: 0px 30px 10px 20px- 
    Espaçamento 0px para cima, 30px para direita e 10 para baixo e 20 para esquerda*/
    margin: 0 auto;
}

.banner {
    /* vh -> Porcentagem da ALTURA da viewport (janela) */
    height: 100vh;

    background-image: linear-gradient(90deg, rgba(53, 24, 104, 1) 0%, rgba(53, 24, 104, 0.8) 100%), url(img/bg-room.png);
    background-repeat: no-repeat;

    background-position: 165% 40%;
}

header {
    height: 165px;

}

header div.container-grid {
    /* Porcentagem - Unidade relativa ao elemento pai */
    height: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 290px;
}

.menu {
    width: 700px;

    display: flex;
    justify-content: space-between;
}

.menu a {
    color: #fff;

    font-family: 'Anta';
    font-size: 20px;

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: text-decoration 500ms ease;
}

.menu a:hover {
    text-decoration-color: white;
}

.conteudo-banner {
    /* Altura deve ser 100vh - altura do header */
    /* Coloquei 280px pq fica mais legal */
    height: calc(100vh - 280px);

    display: flex;
    align-items: center;
}

.conteudo-banner p {
    color: white;

    font-family: "Anta";
    font-size: 32px;
}

#sobre {
    height: 800px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;
    padding: 100px 25%;
}

h2 {
    font-family: 'Anta';
    font-size: 28px;
}

#sobre p {
    font-family: 'Montserrat';
    font-size: 17px;

    text-align: left;
}

#cases {
    text-align: center;

    padding-bottom: 100px;
    margin-bottom: 100px;
}

#cases h2 {
    margin-bottom: 70px;
}

.container-cards {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.card {
    height: 400px;
    width: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: var(--roxo-gamifica);

    padding-bottom: 20px;
    margin-bottom: 20px;

    border-radius: 4px;

    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.card img {
    height: 55%;
    width: 100%;

    /* border-radius: 4px 4px 0 0; */

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.card p {
    text-align: left;

    font-family: 'Montserrat';
    font-size: 16px;

    padding: 7%;

    color: white;
}

.card button {
    width: 90%;
    height: 40px;

    background-color: var(--laranja-gamifica);

    border: none;
    border-radius: 4px;

    color: white;

    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: 600;

    cursor: pointer;

    transition: background-color 500ms;
}

.card button:hover {
    background-color: #ad4929;
}